@font-face {
    font-family:Figtree-Italic;
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Figtree-Variable;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

body{
    background-color: hsl(47, 88%, 63%);
}